.action-links {
  list-style: none;
}

.button-action {
  background-color: black;
  color: white;
  font-size: small;
  border-radius: 8px;
  padding: 8px;
  text-decoration: none;
}

.button-action:hover {
  background: #4F8A7C;
}

#forum-topic-2, .forum-content {
  width: 100%;
  position: relative;
  top: 10px;
  background-color: white;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.forum-heading {
  padding: 10px;
  background-color: lightgray;
}

.forum-heading a {
  text-decoration: none;
  color: black;
}

.forum-title {
  padding: 8px;
  text-align: center;
}

.forum-title a {
  text-decoration: none;
  color: black;
}

.forum-title a:hover {
  text-decoration: underline;
  color: black;
}
