.forum-content {
  width: 100%;
  position: relative;
  top: 10px;
  background-color: white;
  border-collapse: collapse;
}

th {
  padding: 10px;
  background-color: lightgray;
}

th a {
  text-decoration: none;
  color: black;
}

td {
  padding: 8px;
  text-align: center;
}

td a {
  text-decoration: none;
  color: black;
}

td a:hover {
  text-decoration: underline;
  color: black;
}
