#forum-topic-2, .forum-content {
  width: 100%;
  position: relative;
  top: 10px;
  background-color: white;
  border-collapse: collapse;
}

.forum-heading {
  padding: 10px;
}

.forum-head {
  background-color: lightgray;
}

.forum-heading a {
  text-decoration: none;
  color: black;
}

.forum-title {
  padding: 8px;
  text-align: center;
}

.forum-title a {
  text-decoration: none;
  color: black;
}

.forum-title a:hover {
  text-decoration: underline;
  color: black;
}
