body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f3f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#block-dstwr-site-branding {
  position: relative;
  background: rgba(0,0,0,0.8);
  height: 48px;
  box-shadow: 0px 8px 8px lightgray;
}

#site-name {
  position: relative;
  left: 30px;
  top: 12px;
  color: white;
  font-size: x-large;
  font-family: cursive;
  font-weight: bold;
  text-decoration: none;
  float:left;
  margin-left: 18px;
}

#site-logo img {
  position: relative;
  left: 32px;
  top: 5px;
  height: 80px;
  float: left;
}

#block-dstwr-account-menu {
  position: relative;
  float: right;
  top: -53px;
  right: 40px;
}

#block-dstwr-account-menu .menu__item {
  display: inline-block;
  padding: 2px;
}

#block-dstwr-account-menu .menu__link {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 6px 24px 6px 24px;
  font-size: small;
  text-decoration: none;
}

#block-dstwr-account-menu .menu__link:hover {
  background: #4F8A7C;
}

#block-dstwr-main-menu {
  position: absolute;
  width: 150px;
  margin-top: 24px;
}

#block-dstwr-main-menu .menu__item {
  list-style: none;
  transform: translateX(-8px);
}

#block-dstwr-main-menu .menu__link {
  display: inline-block;
  color: black;
  margin: 10px;
  padding: 2px;
  width: 85px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#block-dstwr-main-menu .menu__link:hover {
  border-bottom: 1px solid;
}

#block-dstwr-content {
  position: relative;
  top: 10px;
  left: 100px;
  float: left;
}

#block-dstwr-poweredbydrupal {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: x-small;
  padding-top: 6px;
  padding-bottom: 12px;
}
