body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f3f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: rgba(0,0,0,0.8);
  height: 48px;
  box-shadow: 0px 8px 8px lightgray;
}

header #site-name {
  position: relative;
  left: 30px;
  top: 12px;
  color: white;
  font-size: x-large;
  font-family: cursive;
  font-weight: bold;
  text-decoration: none;
  float:left;
  margin-left: 18px;
}

header #site-logo img {
  position: relative;
  left: 32px;
  top: 5px;
  height: 80px;
  float: left;
}

header #block-dstwr-account-menu {
  position: relative;
  float: right;
  padding-right: 12px;
  right: 30px;
  top: -5px;
}

header #block-dstwr-account-menu .menu__item {
  display: inline-block;
  padding: 2px;
}

header #block-dstwr-account-menu .menu__link {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 6px 24px 6px 24px;
  font-size: small;
  text-decoration: none;
}

header #block-dstwr-account-menu .menu__link:hover {
  background: #4F8A7C;
}

main #block-dstwr-main-menu {
  position: absolute;
  transform: translateX(36px);
  width: 120px;
  margin-top: 32px;
}

main #block-dstwr-main-menu .menu__item {
  margin-left: -40px;
  list-style: none;
}

main #block-dstwr-main-menu .menu__link {
  display: inline-block;
  color: black;
  margin: 10px;
  padding: 2px;
  width: 85px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

main #block-dstwr-main-menu .menu__link:hover {
  border-bottom: 1px solid;
}

main #content {
  position: relative;
  left: 60px;
  top: 30px;
  overflow-y: scroll;
  padding: 20px;
}

main #content article {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 8px lightgray;
  background-color: white;
  margin-top: 20px;
}

main #content .messages-list {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 8px lightgray;
  background-color: white;
}

footer {
  padding-top: 6px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(50%);
  text-align: center;
  font-size: x-small;
}
