#block-dstwr-account-menu {
  position: relative;
  float: right;
  top: -53px;
  right: 40px;
}

#block-dstwr-account-menu .menu__item {
  display: inline-block;
  padding: 2px;
}

#block-dstwr-account-menu .menu__link {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 6px 24px 6px 24px;
  font-size: small;
  text-decoration: none;
}

#block-dstwr-account-menu .menu__link:hover {
  background: #4F8A7C;
}

#block-dstwr-main-menu {
  margin-top: 60px;
  transform: translateY(-60px);
  display: flex;
  justify-content: center;
  height: 50px;
}

#block-dstwr-main-menu .menu__item {
  transform: translate(-20px, -5px);
  list-style: none;
  float: left;
}

#block-dstwr-main-menu .menu__link {
  display: inline-block;
  color: black;
  margin: 0px 10px;
  padding: 2px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-size: small;
  border-bottom: 1px solid transparent;
}

#block-dstwr-main-menu .menu__link:hover {
  border-bottom: 1px solid;
}
