@media screen and (max-width: 750px) {
  #block-dstwr-site-branding {
    height: 77px;    
  }
  
  #block-dstwr-account-menu {
    width: 150px;
    float: right;
    transform: translate(20px, -36px);
  }

  #block-dstwr-account-menu .menu__item {
    padding: 3px;
  }
  
  #block-dstwr-main-menu {
    position: relative;
    top: 30px;
  }

  #site-name {
    top: 5px;
    left: 8px;
    width: 70px;
    font-size: large;
    position: relative;
    margin-left: 0;
    font-size: large;
  }
  
  #site-logo img {
    position: relative;
    top: 8px;
    left: 3px;
    height: 60px;
  }
  
}
