@media screen and (max-width: 750px) {
  #content {
    width: 60%;
  }
  
  #block-dstwr-site-branding {
    height: 77px;
  }

  #site-name {
    top: 5px;
    left: 8px;
    width: 70px;
    font-size: large;
    position: relative;
    margin-left: 0;
    font-size: large;
  }
  
  #site-logo img {
    position: relative;
    top: 8px;
    left: 3px;
    height: 60px;
  }
  
  #block-dstwr-account-menu {
    top: -84px;
    right: 5px;
    width: 240px;
    text-align: right;
  }
  
  #block-dstwr-account-menu .menu__item {
    padding-bottom: 10px;
  }

  #block-dstwr-main-menu {
    position: relative;
    top: -50px;
    display: inline;
  }

  #block-dstwr-main-menu .menu__link {
    text-align: center;
    width: auto;
  }
}
