#user-register-form, #user-login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 330px;
  border-radius: 8px;
  background-color: rgba(0, 0, 128, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  color: azure;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(3px);
  z-index: 1;
}

#edit-mail, #user-login-form .form-text {
  margin: 2px;
  padding: 2px;
  width: 240px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

#edit-mail, #user-login-form .form-required {
  margin: 4px;
  font-size: medium;
  font-weight: bold;
}

#user-login-form .form-item {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-login-form .description, #user-login-form .js-form-item {
  font-size: x-small;
}

#user-login-form .form-submit {
  margin: 10px;
  padding: 2px 8px 2px 8px;
  font-weight: bold;
  font-size: medium;
}

#user-login-form .password-strength {
  font-size: x-small;
}

#user-login-form .password-suggestions {
  font-size: x-small;
  text-align: left;
}
