{% extends "block.html.twig" %}
{#
/**
 * @file
 * TWR theme implementation for Powered by Drupal block.
 *
 * The Powered by Drupal block is an optional link to the home page of the
 * Drupal project.
 *
 */
#}
{% block content %}
  <span class="footer-element">
    {% trans %}©2023 Travel With Reason, LLC{% endtrans %}
  </span>
  <span class="footer-element">
    {% trans %}Powered by&nbsp;{% endtrans %}<a href="https://www.drupal.org">{% trans %}Drupal{% endtrans %}</a>
  </span>
{% endblock %}
